{
  "openapi": "3.1.0",
  "info": {
    "title": "Eternal Life Hospice — Coverage Lookup API",
    "description": "Check whether Eternal Life Hospice serves a given city in Ventura or Los Angeles County, California. Returns a structured yes/no answer with county, subregion, and a link to the city-specific hospice care page. No authentication required.",
    "version": "1.0.0",
    "contact": {
      "name": "Eternal Life Hospice",
      "url": "https://eternallifehospice.com",
      "email": "info@eternallifehospice.com"
    },
    "license": {
      "name": "Public (read-only)",
      "url": "https://eternallifehospice.com"
    }
  },
  "servers": [
    {
      "url": "https://eternallifehospice.com/.netlify/functions",
      "description": "Production"
    }
  ],
  "paths": {
    "/coverage": {
      "get": {
        "operationId": "checkCoverage",
        "summary": "Check service area coverage for a city",
        "description": "Returns whether Eternal Life Hospice serves the specified city. Matching is case-insensitive and tolerates missing diacritics (e.g. 'La Canada' matches 'La Cañada Flintridge'). If the city is not found in the published list, the response still returns HTTP 200 with served=false and a message directing callers to phone for confirmation.",
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "required": true,
            "description": "City name to look up (e.g. 'Pasadena', 'Thousand Oaks', 'La Canada').",
            "schema": {
              "type": "string",
              "example": "Pasadena"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coverage check result. Check the `served` boolean to determine whether ELH serves this city.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/CoveredCity" },
                    { "$ref": "#/components/schemas/UncoveredCity" }
                  ]
                },
                "examples": {
                  "served": {
                    "summary": "City is in the service area",
                    "value": {
                      "served": true,
                      "city": "Pasadena",
                      "county": "Los Angeles County",
                      "subregion": "San Gabriel Valley and nearby communities",
                      "pageUrl": "https://eternallifehospice.com/hospice-pasadena-ca",
                      "phone": "805.953.7273"
                    }
                  },
                  "not-served": {
                    "summary": "City is not in the published service area",
                    "value": {
                      "served": false,
                      "city": "San Francisco",
                      "message": "Eternal Life Hospice does not have a published service-area page for \u201cSan Francisco\u201d. Please call 805.953.7273 to confirm coverage \u2014 our service area across Ventura and Los Angeles counties may extend beyond our published city pages."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or empty `city` parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" },
                    "example": { "type": "string" }
                  }
                }
              }
            }
          },
          "405": {
            "description": "HTTP method not allowed. Only GET is supported.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CoveredCity": {
        "type": "object",
        "required": ["served", "city", "county", "subregion", "pageUrl", "phone"],
        "properties": {
          "served": {
            "type": "boolean",
            "enum": [true],
            "description": "Always true for this schema variant."
          },
          "city": {
            "type": "string",
            "description": "Canonical city name.",
            "example": "Pasadena"
          },
          "county": {
            "type": "string",
            "description": "County the city belongs to.",
            "example": "Los Angeles County"
          },
          "subregion": {
            "type": "string",
            "description": "Subregion label used by ELH for the area.",
            "example": "San Gabriel Valley and nearby communities"
          },
          "pageUrl": {
            "type": "string",
            "format": "uri",
            "description": "Canonical URL for the city-specific hospice care page.",
            "example": "https://eternallifehospice.com/hospice-pasadena-ca"
          },
          "phone": {
            "type": "string",
            "description": "ELH 24/7 intake and nursing line.",
            "example": "805.953.7273"
          }
        }
      },
      "UncoveredCity": {
        "type": "object",
        "required": ["served", "city", "message"],
        "properties": {
          "served": {
            "type": "boolean",
            "enum": [false],
            "description": "Always false for this schema variant."
          },
          "city": {
            "type": "string",
            "description": "The city name as supplied by the caller.",
            "example": "San Francisco"
          },
          "message": {
            "type": "string",
            "description": "Human-readable explanation directing the caller to phone for confirmation."
          }
        }
      }
    }
  }
}
